

.container-404{


    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: 20rem 40rem;

}
.title-404{

    font-size: 1.5rem;
    font-weight: bold;
    margin: 2.5% 5.0%;
  


}

.go-home-404{
    
        justify-content: center;
        margin: 2.5% 30%;
        
}