:root {
	--primary-color: rgb(24, 24, 24);
	--text-color: rgba(255, 255, 255, 0.8);
	--border-color: rgba(255, 255, 255, 0.2);
	--bg-color: black;
	--max-width: 1470px;
	--nav-height: 70px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: var(--bg-color);
	min-width: 360px;
	color: var(--text-color);
	overflow-x: hidden;
}
a {
	text-decoration: none;
}

p {
	line-height: 1.5;
	font-size: 1.1rem;
	color: var(--text-color);
	font-weight: 300;
	letter-spacing: 0.5px;
}

.margin {
	padding: 0 4rem;
	margin: 0 auto;
	max-width: var(--max-width);
}

.spacer-m {
	height: 6rem;
}
.spacer-s {
	height: 3rem;
}

h2 {
	font-size: 2.5rem;
	letter-spacing: -2px;
	margin-bottom: 1rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

a {
	color: var(--text-color);
}

button {
	background-color: rgb(3, 145, 85);
	color: var(--text-color);
	padding: 0.9rem 1.5rem;
	border-radius: 0.5rem;
	font-size: 1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.15s ease all;
}

button:hover {
	background-color: var(--border-color);
}
button:active {
	background-color: var(--primary-color);
}

button.outline {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid var(--border-color);
	font-weight: 500;
	color: var(--text-color);
}

button.outline:hover {
	color: #fff;
	border: 1px solid var(--primary-color);
	background-color: var(--primary-color);
}
button.outline:active {
	color: var(--text-color);
}

.text-center {
	text-align: center;
}

@media (max-width: 1000px) {
	.margin {
		padding: 0 3rem;
	}
}
@media (max-width: 600px) {
	.margin {
		padding: 0 2rem;
	}

	h2 {
		font-size: 2.5rem;
	}
}
@media (max-width: 426px) {
	.margin {
		padding: 0 1.5rem;
	}

	h2 {
		font-size: 2rem;
	}
	p {
		font-size: 1rem;
	}
}

.blog-margin {
	margin: 0 auto;
	max-width: 800px;
}

/* SPACERS */
.nav-spacer {
	height: var(--nav-height);
}

.spacerv-lg {
	height: 10rem;
	flex-shrink: 0;
}
.spacerv-md {
	height: 5rem;
	flex-shrink: 0;
}
.spacerv-sm {
	height: 2.5rem;
	flex-shrink: 0;
}
.spacerv-xs {
	height: 1rem;
	flex-shrink: 0;
}
.spacerh-lg {
	width: 10rem;
	flex-shrink: 0;
}
.spacerh-md {
	width: 5rem;
	flex-shrink: 0;
}
.spacerh-sm {
	width: 2.5rem;
	flex-shrink: 0;
}
.spacerh-xs {
	width: 1rem;
	flex-shrink: 0;
}

/* WIDTH HEIGHT  */
.vh-100 {
	height: 100vh;
}
.vw-100 {
	width: 100vw;
}

/* FLEX */
.flex {
	display: flex;
}
.align-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}
.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.space-between {
	display: flex;
	justify-content: space-between;
}
.wrap {
	flex-wrap: wrap;
}

/* MISC */
.pointer {
	cursor: pointer;
}

/* Loading animation */
.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ellipsis div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: var(--text-color);
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}

/* Loading animation end */
