.header {
	height: 100vh;
	overflow: hidden;
	position: relative;
	max-width: var(--max-width);
	margin: 0 auto;
}

.bg-image {
	position: absolute;
	top: -10%;
	right: 5%;
	background-image: url('/Hero.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100vmin;
	height: 100vmin;
	animation-name: floating;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.h1 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 11vmin;
	line-height: 1;
	letter-spacing: -4px;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	text-shadow: rgba(0, 0, 0, 0.644) 0px 12px 12px;
}

.bottom-content {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.content-wrapper {
	display: flex;
	justify-content: space-between;
	padding-bottom: 4rem;
}

.description-wrapper {
	max-width: 500px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
.description {
	text-align: right;
	margin-left: 2rem;
}

.social-wrapper {
	margin-top: 3rem;
	flex-shrink: 0;
}

.social-title {
	margin-bottom: 1rem;
}

.icons {
	font-size: 2.3rem;
	margin-right: 1rem;
}

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 30px);
	}
	100% {
		transform: translate(0, -0px);
	}
}

@media (max-width: 1000px) {
	.bg-image {
		right: -30%;
		top: -10%;
		transform: none;
		max-width: unset;
		max-height: unset;
		width: 90vmin;
		height: 90vmin;
	}
	.h1 {
		font-size: 11vmin;
		top: 60%;
	}

	.content-wrapper {
		padding-bottom: 2rem;
	}
}

@media (max-width: 560px) {
	.bg-image {
		right: -30%;
		top: 0;
		transform: none;
		width: 130vmin;
		height: 130vmin;
	}
	.h1 {
		font-size: 15vmin;
		top: 60%;
	}
	.description-wrapper {
		display: none;
	}
	.content-wrapper {
		padding-bottom: 2rem;
	}
}
