.posts-section {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-top: 12rem;
}

.posts-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}

.post-container {
}

.post-wrapper {
  border-radius: 1rem;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.image {
  width: 100%;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}
.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.img1 {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.author {
  background-color: #3ba7ff;
  background-image: linear-gradient(147deg, #3b89ff 0%, #258bff 74%);
  background-color: #3bb1ff;
  background-image: linear-gradient(132deg, #3b89ff 0%, #2579ff 100%);
  padding: 0.25rem 0.75rem;
  border-radius: 100px;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 1);
}

.title {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  word-wrap: break-word;
}

.post-info {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}

@media (max-width: 1000px) {
  .posts-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }
}
@media (max-width: 600px) {
  .posts-container {
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
  }
}
